{% extends 'includes/base.html' %}

{% block title %}
Список отчётов
{% endblock %}

{% block content %}
    <div class="container mt-1 mb-5">
        <h1>
            Отчёты
        </h1>
    </div>
    <div class="container">
        <div class="list-group">
            {% for date in dates %}
                <a href="{% url 'food_delivery:report' date %}" class="list-group-item list-group-item-action" aria-current="true">
                    Отчет за {{ date }}
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}
